{% load static %}
<html>
	<head>
           	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/myapp.css' %}">
		<title>Rob's Books</title>
	</head>
	<body>
	    <div>
		<h1><a href="/">Rob's Book Ordering System</a></h1>
	    </div>

            <div class="content container">
    		<div class="row">
        		<div class="col-md-8">
            			{% for author in authors %}
                			<div class="author">
						{{ author }}
                    				<p>{{ linebreaksbr }}</p>
                			</div>
            			{% endfor %}
        		</div>
    		</div>
	    </div>
	</body>
</html>
