{% load static %}
<html>
	<head>
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<title>RKN Books</title>
           	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/myapp.css' %}">
	</head>
	<body>
	   <div>
		<h1><a href="/">Book Ordering System</a></h1>
	   </div>

            <div class="content container">
    		<div class="row">
        		<div class="col-md-8">
            			{% for author in authors %}
                			<div class="author">
						{{ author }}
                    				<p>{{ linebreaksbr }}</p>
                			</div>
            			{% endfor %}
        		</div>
    		</div>
	    </div>
	</body>
</html>
